<?xml version="1.0" encoding="utf-8"?>
<graphStudioSettings>
	<defaultSavePath>C:/Work/GraphStudio</defaultSavePath>
	<nodeSize>17.000000</nodeSize>
	<edgeWidth>6.300000</edgeWidth>
	<highlightedEdgeWidth>7.000000</highlightedEdgeWidth>
	<arrowLength>36.000000</arrowLength>
	<arrowAngle>34.000000</arrowAngle>
	<showEdgeWeights>1</showEdgeWeights>
	<showNodeWeights>1</showNodeWeights>
	<force>13.000000</force>
	<speed>60</speed>
	<edgeWeightScale>4</edgeWeightScale>
	<colorSchemes>
		<colorScheme name="ColorScheme #1">
			<backgroundColor red="255" green="255" blue="255"/>
			<nodeColor red="66" green="66" blue="66"/>
			<edgeColor red="0" green="1" blue="0"/>
			<darkEdgeColor red="244" green="243" blue="237"/>
			<highlightedNodeColor1 red="0" green="155" blue="0"/>
			<highlightedNodeColor2 red="230" green="81" blue="0"/>
			<highlightedNodeColor3 red="23" green="104" blue="255"/>
			<highlightedEdgeColor1 red="0" green="155" blue="0"/>
			<highlightedEdgeColor2 red="255" green="145" blue="0"/>
			<highlightedEdgeColor3 red="255" green="145" blue="0"/>
			<nodeTextColor red="255" green="255" blue="255"/>
			<highlightednodeTextColor red="0" green="0" blue="0"/>
			<edgeTextColor red="0" green="0" blue="0"/>
			<highlightedEdgeTextColor red="0" green="0" blue="0"/>
			<movingNodeColor red="255" green="255" blue="255"/>
			<addEdgeNodeColor red="255" green="255" blue="0"/>
		</colorScheme>
		<colorScheme name="ColorScheme #2">
			<backgroundColor red="176" green="194" blue="142"/>
			<nodeColor red="44" green="33" blue="79"/>
			<edgeColor red="117" green="108" blue="143"/>
			<darkEdgeColor red="81" green="65" blue="42"/>
			<highlightedNodeColor1 red="255" green="0" blue="0"/>
			<highlightedNodeColor2 red="250" green="245" blue="211"/>
			<highlightedNodeColor3 red="75" green="22" blue="51"/>
			<highlightedEdgeColor1 red="255" green="0" blue="0"/>
			<highlightedEdgeColor2 red="92" green="32" blue="66"/>
			<highlightedEdgeColor3 red="92" green="32" blue="66"/>
			<nodeTextColor red="255" green="255" blue="255"/>
			<highlightednodeTextColor red="0" green="0" blue="0"/>
			<edgeTextColor red="0" green="0" blue="0"/>
			<highlightedEdgeTextColor red="0" green="0" blue="0"/>
			<movingNodeColor red="255" green="255" blue="255"/>
			<addEdgeNodeColor red="255" green="255" blue="0"/>
		</colorScheme>
		<colorScheme name="default">
			<backgroundColor red="176" green="194" blue="142"/>
			<nodeColor red="44" green="33" blue="79"/>
			<edgeColor red="117" green="108" blue="143"/>
			<darkEdgeColor red="91" green="83" blue="102"/>
			<highlightedNodeColor1 red="255" green="0" blue="0"/>
			<highlightedNodeColor2 red="250" green="245" blue="211"/>
			<highlightedNodeColor3 red="250" green="245" blue="211"/>
			<highlightedEdgeColor1 red="255" green="0" blue="0"/>
			<highlightedEdgeColor2 red="92" green="32" blue="66"/>
			<highlightedEdgeColor3 red="92" green="32" blue="66"/>
			<nodeTextColor red="255" green="255" blue="255"/>
			<highlightednodeTextColor red="0" green="0" blue="0"/>
			<edgeTextColor red="0" green="0" blue="0"/>
			<highlightedEdgeTextColor red="0" green="0" blue="0"/>
			<movingNodeColor red="255" green="255" blue="255"/>
			<addEdgeNodeColor red="255" green="255" blue="0"/>
		</colorScheme>
	</colorSchemes>
</graphStudioSettings>

